.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .table-title {
    color: #0a3d62;
    font-weight: 600;
  }
  .table-container {
    width: max-content;
    table {
      background: #fd9644;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 20px;
      thead {
        tr {
          background-color: #fa8231;
        }
      }
      tr {
        th,
        td {
          padding: 20px;
          overflow: hidden;
        }
      }
    }
    .table-pagination {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 10px;
      .table-pagination-button {
        cursor: pointer;
        margin-left: 5px;
        padding: 10px 13px;
        border-radius: 10px;
        outline: none;
        font-size: 17px;
        border: 0px;
        line-height: 1;
        background: #fd9644;
        &:hover {
          background: #fa8231;
        }
      }
      .active-page {
        border: 1px solid;
      }
    }
  }
  .go-to-btn {
    padding: 10px 20px;
    color: white;
    outline: none;
    border: 0px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
    background-color: #fa8231;
    border-radius: 50px;
    &:hover {
      outline: none;
      background-color: #fd9644;
    }
  }
}
