.counter-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .counter-title {
    font-size: 2rem;
    font-weight: 600;
    color: #0a3d62;
  }
  .counter-value {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .counter-buttons {
    button {
      margin: 10px;
      background-color: #0a3d62;
      border-radius: 50px;
      padding: 10px 20px;
      color: white;
      outline: none;
      border: 0px;
      font-size: large;
      cursor: pointer;
      &:hover {
        background-color: #3c6382;
      }
    }
  }
  button {
    cursor: pointer;
    margin: 10px;
    background-color: #fa8231;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    outline: none;
    font-size: large;
    border: 0px;
    &:hover {
      background-color: #fd9644;
    }
  }
}
