.counter-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .counter-title {
    font-size: 2rem;
    font-weight: 600;
    color: #0a3d62;
  }
  .counter-value {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .counter-buttons {
    button {
      margin: 10px;
      background-color: #0a3d62;
      border-radius: 50px;
      &:hover {
        background-color: #3c6382;
      }
    }
  }
  button {
    margin: 10px;
    background-color: #e58e26;
    border-radius: 50px;

    &:hover {
      background-color: #fa983a;
    }
  }
}
